<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ReCaptchaUi\Model\IsCaptchaEnabledInterface">
        <plugin name="disable_recaptcha_for_whitelisted_ips" type="CloudCommerce\SkipRecaptcha\Plugin\DisableRecaptcha" />
    </type>
</config>