<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cloudcommerce_skiprecaptcha" translate="label" sortOrder="900" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Skip Admin Recaptcha</label>
            <tab>general</tab>
            <resource>CloudCommerce_SkipRecaptcha::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="whitelisted_ips" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Whitelisted IPs</label>
                    <comment>Enter IP addresses separated by commas to skip admin reCAPTCHA for these IPs.</comment>
                </field>
            </group>
        </section>
    </system>
</config>